body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border: 2px solid darkgreen;
    box-shadow: 2px 2px black;
}